body {
	font-family: 'Exo 2', sans-serif;
	font-size: 40px;
	padding: 0;
	margin: 0;
}

#arcturus {
	background: #322;
	color: #dcc;
}

#moon {
	background: #223;
	color: #ccd;
}

#sun {
	background: #332;
	color: #ddc;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-weight: 100;
	letter-spacing: .23em;
}

statistic {
	display: block;
	margin: .5em 0;
}

statistic .title {
	display: inline-block;
	width: 4em;
}

statistic numbers {
	font-weight: 200;
	font-size: 1.5em;
}

statistic numbers span:first-of-type {
	width: 2.25em;
}

statistic numbers span {
	display: inline-block;
	width: 1.75em;
	text-align: right;
}

span.degree::after {
	content: "°";
}
span.minute::after {
	content: "'";
}
span.second::after {
	content: "\"";
}

svg text {
	fill: #eee;
}

svg circle,
svg ellipse {
	fill: none;
	stroke: #eee;
	stroke-width: 2;
}

svg { position:fixed; top:0; left:0; height:100%; width:100% }

#horizon-plane {
	transform: rotateX(75deg);
}

#azimuth-plane {
	transform: rotateX(90deg) rotateY(30deg);
}

#azimuth-plane circle {
	stroke: red;
}

#star {
	fill: orange;
	stroke: none;
}

#compass-container {
	transform: rotateX(60deg);
}