body {
	font-family: 'Exo 2', sans-serif;
	font-size: 40px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
}

#arcturus {
	background: #322;
	color: #dcc;
}

#moon {
	background: #223;
	color: #ccd;
}

#sun {
	background: #332;
	color: #ddc;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-weight: 100;
	letter-spacing: .23em;
}

statistic {
	width: 520px; /* TODO: improve */
	display: flex;
	align-items: baseline;
}

statistic .title {
	display: inline-block;
}

statistic number,
statistic numbers {
	font-weight: 200;
	font-size: 1.5em;
	flex-grow: 1;
	text-align: right;
}

#phase {
	font-size: 1.15em;
}

#illumination::after {
	content: "%";
	font-size: 0.75em; /* UNF this is like Web 9.0 */
}

statistic numbers span:first-of-type {
	width: 2.25em;
}

statistic numbers span {
	display: inline-block;
	width: 1.75em;
	text-align: right;
}

span.degree::after {
	content: "°";
}
span.minute::after {
	content: "'";
}
span.second::after {
	content: "\"";
}

svg text {
	fill: #eee;
}

svg circle,
svg path {
	fill: none;
	stroke: #eee;
	stroke-width: 2;
}

#moon svg ellipse {
	stroke: none;
}

#moon-render {
    height: 1.5em;
    align-self: baseline;
    margin-left: 2.5em;
    position: relative;
    bottom: -0.15em;
}
}

#horizon-plane {
	transform: rotateX(75deg);
}

#azimuth-plane {
	transform: rotateX(90deg) rotateY(30deg);
}

#azimuth-plane circle {
	stroke: red;
}

#star {
	fill: orange;
	stroke: none;
}

#compass-container {
	transform: rotateX(60deg);
}