body {
	background: #322;
	font-family: 'Exo 2', sans-serif;
	font-size: 40px;
	color: #cdd;
	padding-left: 100px;
}

statistic {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
}

statistic .title {
	display: inline-block;
	width: 5em;
}

statistic numbers {
	font-weight: 100;
	font-size: 1.5em;
}

statistic numbers span {
	display: inline-block;
	width: 2.25em;
	text-align: right;
}

span.degree::after {
	content: "°";
}
span.minute::after {
	content: "'";
}
span.second::after {
	content: "\"";
}

#celestial-sphere circle,
#celestial-sphere ellipse {
	fill: none;
	stroke: white;
	stroke-width: 1;
}

#horizon-plane {
	transform: rotateX(75deg);
}

#azimuth-plane {
	transform: rotateX(90deg) rotateY(30deg);
}

#azimuth-plane circle {
	stroke: red;
}

#celestial-sphere #star {
	fill: orange;
	stroke: none;
}